* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: url("./assets/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  font-family: sans-serif;
}

body,
html {
  background-color: black;
}
