* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: black;
  background-image: url("./assets/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
